<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <header class="navbar">
        <h1 class="logo">Dilvant</h1>
        <nav class="nav-links">
            <a href="">Inicio</a>
            <a href="">Menú</a>
            <a href="">Nosotros</a>
            <a href="">Reservas</a>
        </nav>
        <button class="contact-button">Contacto</button>
    </header>

    <section class="text-home">
        <div class="text-content">
            <div class="text">
                <h2>Haz crecer tu amor por la comida peruana.</h2>
                <p>Sumérgete en la cultura peruana a través de nuestra deliciosa comida.</p>
                <button class="cta-button">Nuestra nueva carta.</button>
            </div>
        </div>
        <div class="hero-image">
            <img src="/assets/restaurante%20peruano.png" alt="Plato de comida peruana"/>
        </div>
    </section>
</div>
<div>

</div>

